.Tweet {
    margin: auto;
    margin-top: 0.5em;
    padding: 0.5em;
    border: 1px black solid;
}

.Tweet-name {
    font-weight: bold;
}

.Tweet-username:before {
    content: "@";
    margin: 0px;
}

.Tweet-username {
    margin: 0px;
    color: #4e4d4d;
}

.Tweet-date {
    margin: 0px;
    color: #4e4d4d;

}